<h1 class="title">{{title}}</h1>

<h2>My Heroes</h2>
<div class="list-group">
  <a class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.active]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </a>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div>
    <label>Id: </label>{{selectedHero.id}}
  </div>
  <div>
    <label>Name: </label>{{selectedHero.name}}
  </div>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>
