<h2>My Heroes</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#hero of heroes" (click)="onSelect(hero)" [class.active]="hero === selectedHero">
      <td><span class="badge">{{hero.id}}</span></td>
      <td>{{hero.name}}</td>
      <td><span (click)="removeHero(hero)" class="btn btn-danger btn-sm">Remove</span></td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button class="btn" (click)="goToDetail()">View Details</button>
</div>
